:root{
  --green-color:  #455D58;
  --beige-color:#FAF7F2;
  
}

/* body {
  margin: 0;
  font-family: 'Noto Serif KR', serif;
} */

a {
  text-decoration: none;
  /* list-style-type: none; */
  color: black;
}

#header__a,
#navbar__menu__a>li>a
 {
  color:black;
  text-decoration: none;
  
}


.navbar {
  position:absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--beige-color);
  padding: 8px 12px; 
  width: 100%;
  font-family: 'Merriweather', serif; 
  

}

.navbar__logo {
  font-size: 30px;
}

.navbar__menu {
  
  list-style-type: none;
  display: flex;
  /* padding-left: 100; */
  font-size: 25px;

}

.navbar__menu li:hover {
  background-color: var(--green-color);; 
  border-radius: 4px;
  
}

.navbar__menu li {
  left: 300;
   padding: 10px 30px;  
   /* margin-left: 20%;  */
}

.navbar__icons {
  display: flex;
  list-style: none;
  color: var(--green-color);
  padding-left: 0;
}

.navbar__icons li {
  padding: 8px 12px;
}

.navbar__toggleBtn {
  position: absolute;
  right: 32px;
  top: 10px;
  font-size: 24px;
  color: var(--green-color);
  display: none;
}



